doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1: a(href='/')= title
      form#layout
        section
          each l in keyboards
            if l === keyboard
              input(id= l, type='radio', name='keyboard', value= l, checked)
            else
              input(id= l, type='radio', name='keyboard', value= l)
            label(for= l)= l
        section
          each l in layouts
            if l === layout
              input(id= l, type='radio', name='layout', value= l, checked)
            else
              input(id= l, type='radio', name='layout', value= l)
            label(for= l)= l
        script.
          window.onload = () => {
            $('header form#layout > input[type=radio name=layout]')
            .change((e) => {
              $.cookie('layout', $(e.target).val());
            });
            $('header form#layout > input[type=radio name=keyboard]')
            .change((e) => {
              $.cookie('keyboard', $(e.target).val());
            });
          }

    .container
      #info
        block info
      hr
      block content

    script(type='text/javascript', src='/static/js/jquery.min.js')
    script(type='text/javascript', src='/static/js/jquery.easing.min.js')
    script(type='text/javascript', src='/static/js/jquery.cookie.js')
    script(type='text/javascript', src='/static/js/moment.min.js')
    block script
